@model IHasStockCount

<div class="widget-boundary">
    <table class="stock-display">
        <tr>
            <td>Stock Quantity:</td>
            <td>@Model.StockQuantity</td>
            <td></td>

            @{ switch (Model.StockLevel)
                {
                    case "Unknown":
                        <td style="text-align: center; background-color: lightgray;"><div>@Model.StockLevel</div></td>
                        break;
                    case "In Stock":
                        <td style="text-align: center; background-color: #d4edda;"><div>@Model.StockLevel</div></td>
                        break;
                    case "Out of Stock":
                        <td style="text-align: center; background-color: lightgray;"><div>@Model.StockLevel</div></td>
                        break;
                    default:
                        <td style="text-align: center; background-color: #f8d7da;"><div>@Model.StockLevel</div></td>
                        break;

                }
            }
        </tr>
    </table>
</div>
