@model IHasStockCount

<div style="display: grid; border: 1px solid #000; padding: 5px;">
    <table class="stock-display">
        <tr>
            <td>Stock Quantity:</td>
            <td>@Model.StockQuantity</td>
            <td></td>

            @{ switch (Model.StockLevel)
                {
                    case "Unknown":
                        <td style="text-align: center; background-color: lightgray;"><div>@Model.StockLevel</div></td>
                        break;
                    case "In Stock":
                        <td style="text-align: center; background-color: green;"><div>@Model.StockLevel</div></td>
                        break;
                    case "Out of Stock":
                        <td style="text-align: center; background-color: lightgray;"><div>@Model.StockLevel</div></td>
                        break;
                    default:
                        <td style="text-align: center; background-color: red;"><div>@Model.StockLevel</div></td>
                        break;

                }
            }





        </tr>
    </table>
</div>

<br />



