<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/css/reset.css" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.css" />
    <link type="text/css" rel="stylesheet" asp-href-include="~/css/*.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("div#main-top").css("height", $("div.leftnav ul li").height() + 1 + "px");
            $("div#main").css("min-height", $("div.leftnav").height() + "px");
            $("table.results tr:even").addClass("shaded");
        });

    </script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="titleband">Egret</div>

    <div id="container">
        <div>
            <div class="leftnav">
                <ul>
                    <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a href="@Url.Action("Index","Inventory")"><span class="glyphicon glyphicon-tag"></span>Items</a></li>
                    <li><a asp-action="Projects"><span class="glyphicon glyphicon-folder-open"></span>Projects</a></li>
                    <li><a asp-action="Events"><span class="glyphicon glyphicon-barcode"></span>Events</a></li>
                    <li><a asp-action="Customers"><span class="glyphicon glyphicon-user"></span>Customers</a></li>
                    <li><a asp-action="Reports"><span class="glyphicon glyphicon-signal"></span>Reports</a></li>
                    <li><a asp-action="Admin"><span class="glyphicon glyphicon-cog"></span>Admin</a></li>
                </ul>
            </div><div id="main">
                <div id="main-top" class="lead">
                    @ViewBag.Notice
                </div>
                <div id="main-bottom">
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>


</body>
</html>

