@model List<InventoryItem>

@{
    Layout = "_ResultsTemplate";
    ViewData["WindowTitle"] = "Item - Search Results";
    ViewData["PageTitle"] = "Item Search Results";
}

<p class="index-page-link">
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Code)</th>
            <th>@Html.DisplayNameFor(model => model[0].Description)</th>
            <th>@Html.DisplayNameFor(model => model[0].Category)</th>
            <th>@Html.DisplayNameFor(model => model[0].CustomerReservedFor)</th>
            <th>@Html.DisplayNameFor(model => model[0].StockQuantity)</th>
            <th>@Html.DisplayNameFor(model => model[0].Unit)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="6" class="text-center">There are no Items matching your search criteria.</td></tr>
        }
        else
        {
            var isEditOrDetails = User.IsInRole("Item_Edit") ? "Edit" : "Details";
            foreach (var item in Model)
            {
                <tr class="clickable-row" onclick="location.href = '@(Url.Action(isEditOrDetails, new { id = item.Code }))'; location.target='_blank'">
                    <td>
                        <a class="test" asp-action="@isEditOrDetails" asp-route-id="@item.Code">
                            @Html.DisplayFor(modelItem => item.Code)
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td>@Html.DisplayFor(modelItem => item.CustomerReservedFor)</td>
                    <td>@Html.DisplayFor(modelItem => item.StockQuantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-controller="Items" asp-action="Search">Return to Search</a>
</div>