@model List<InventoryItem>

@{
    ViewData["WindowTitle"] = "Inventory Search Results";
    ViewData["PageTitle"] = "Search Results";
}

<p class="page-link">
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CustomerReservedFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Unit)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="6" class="text-center">There are no Inventory Items matching your search criteria.</td></tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr class="clickable-row" onclick="location.href = '@(Url.Action("Edit", new { id = item.Code }))'; location.target='_blank'">
                    <td>
                        <a class="test" asp-action="Edit" asp-route-id="item.Code">
                            @Html.DisplayFor(modelItem => item.Code)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerReservedFor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-area="Inventory" asp-controller="Items" asp-action="Search">Return to Inventory Search</a>
</div>