@model List<CurrencyType>

@{
    Layout = "_CrudFullPage";
    ViewData["WindowTitle"] = "Admin - Currency Types";
    ViewData["PageTitle"] = "Currency Types";
}

<p class="index-page-link">
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index">

    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Abbreviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Symbol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].SortOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DefaultSelection)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr><td colspan="6" class="text-center">There are currently no Currency Types.</td></tr>
            }
            else
            {
                for (int i = 0; i < Model.Count(); i++)
                {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model[i].Id" />
                        <input class="form-control" asp-for="@Model[i].Name" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="@Model[i].Abbreviation" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="@Model[i].Symbol" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="@Model[i].SortOrder" />
                    </td>
                    <td>
                        <input class="form-control" type="checkbox" asp-for="@Model[i].Active" />
                    </td>
                    <td>
                        <input class="form-control radio" type="radio" asp-for="@Model[i].DefaultSelection" value="@Model[i].DefaultSelection" />
                    </td>
                    <td class="delete-box">
                        <a class="delete" asp-action="Delete" asp-route-id="@Model[i].Id" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>

</form>

<div>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Back to Admin</a>
</div>
