@model ConsumptionEvent

@{
    ViewData["WindowTitle"] = "Edit Consumption Event";
    ViewData["PageTitle"] = "Consumption Event: " + @Model?.Id;
}

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.InventoryItemCode" />
                <label asp-for="@Model.Id" class="control-label"></label>
                <input asp-for="@Model.Id" class="form-control" disabled />
                <span asp-validation-for="@Model.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DateOfConsumption" class="control-label"></label>
                <input asp-for="@Model.DateOfConsumption" class="form-control" />
                <span asp-validation-for="@Model.DateOfConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConsumedBy" class="control-label"></label>
                <input asp-for="@Model.ConsumedBy" class="form-control" />
                <span asp-validation-for="@Model.ConsumedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ProductionOrderNumber" class="control-label"></label>
                <input asp-for="@Model.ProductionOrderNumber" class="form-control" />
                <span asp-validation-for="@Model.ProductionOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SampleOrderNumber" class="control-label"></label>
                <input asp-for="@Model.SampleOrderNumber" class="form-control" />
                <span asp-validation-for="@Model.SampleOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PatternNumber" class="control-label"></label>
                <input asp-for="@Model.PatternNumber" class="form-control" />
                <span asp-validation-for="@Model.PatternNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.QuantityConsumed" class="control-label"></label>
                <input asp-for="@Model.QuantityConsumed" class="form-control" />
                <span asp-validation-for="@Model.QuantityConsumed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ValueConsumed" class="control-label"></label>
                <input asp-for="@Model.ValueConsumed" class="form-control" />
                <span asp-validation-for="@Model.ValueConsumed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Unit" class="control-label"></label>
                <select asp-for="@Model.Unit" class="form-control" style="width: 20%;" asp-items="ViewBag.Unit">
                    <option value=""></option>
                </select>
                <span asp-validation-for="@Model.Unit" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>

</form>

