@model IRelationshipViewModel

<div class="related-objects">
    <div class="related-objects-header">
        @Model.Title
        @if (Model.HasCreateNew == true)
        {
            <a asp-route-sourceid="@Model.SourceId" asp-area="@Model.Area" asp-controller="@Model.Controller" asp-action="@Model.CreateAction">
                <span title="@Model.HelpText" style="float: right;" class="@Model.CssClass"></span>
            </a>
        }
    </div>

    @if (((ICollection)Model.RelationshipObjects).Count == 0)
    {
        <div class="related-object-blank">There are currently no @Model.Title</div>
    }
    else
    {
        var isEditOrDetails = User.IsInRole(Model.EditRole) ? "Edit" : "Details";
        @foreach (var relatedObj in Model.RelationshipObjects)
        {
            <a class="related-object-link" asp-area="@Model.Area" 
               asp-controller="@Model.Controller" asp-action="@isEditOrDetails" asp-route-id="@relatedObj.GetType().GetProperty(Model.TargetObjectIdColumn).GetValue(relatedObj, null)">
                <div class="related-object-div">
                    <span class="egret egret-linkto"></span>

                    @if (relatedObj.GetType().GetProperty(Model.ObjectDisplay) != null)
                    {
                        @relatedObj.GetType().GetProperty(Model.ObjectDisplay).GetValue(relatedObj, null);
                    }
                    else
                    {
                        @relatedObj.GetType().GetProperty(Model.TargetObjectIdColumn).GetValue(relatedObj, null);
                    }
                </div>
            </a>
        }
    }

</div>
