@model IEnumerable<Egret.DataAccess.InventoryItem>

@{
    ViewData["Title"] = "Inventory";
    ViewBag.Notice = "Inventory";
}

<hr />

<p>
    <a class="test" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sellprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyprice)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr class="clickable-row" onclick="location.href = '@(Url.Action("Edit", new { id = item.Code }))'; location.target='_blank'">
                <td>
                    <a class="test" asp-action="Edit" asp-route-id="@item.Code">
                        @Html.DisplayFor(modelItem => item.Code)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sellprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyprice)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
                </td>
            </tr>
    }
    </tbody>
</table>
