@model List<InventoryItem>

@{
    ViewData["Title"] = "Inventory";
    ViewData["HeaderText"] = "Inventory";
}



<p>
    <a class="test" asp-action="Create">Create New</a>
</p>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[1].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[2].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[3].Sellprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[4].Buyprice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row" onclick="location.href = '@(Url.Action("Edit", new { id = item.Code }))'; location.target='_blank'">
                <td>
                    <a class="test" asp-action="Edit" asp-route-id="@item.Code">
                        @Html.DisplayFor(modelItem => item.Code)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sellprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyprice)
                </td>
                <td>
                    <a class="delete" title="Delete" asp-action="Delete" asp-route-id="@item.Code">&times;</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">@ViewData["BackText"]</a>
</div>