@{
    Layout = "_MasterLayout";
}

<div id="titleband">Egret</div>
<div id="container">
    <nav class="leftnav">
        <ul>
            <li class="icon"><a href="javascript:void(0);" onclick="TriggerResponsiveNavigation()"><span class="fas fa-bars"></span> Menu</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-area=""><span class="egret egret-home"></span> Home</a></li>
            <li authorize-for="Item_Read"><a asp-action="Index" asp-controller="Home" asp-area="Inventory"><span class="egret egret-inventory"></span> Inventory</a></li>
            <li authorize-for="Report_Read"><a asp-action="Index" asp-controller="Home" asp-area="Reports"><span class="egret egret-reports"></span> Reports</a></li>
            <li authorize-for="Admin_Access"><a asp-action="Index" asp-controller="Home" asp-area="Admin"><span class="egret egret-admin"></span> Admin</a></li>
        </ul>
    </nav><div id="main">
        <div id="main-top">
            <div class="row">
                <div class="col-md-6">@ViewData["PageTitle"]</div>
                <div class="col-md-2 offset-md-4">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="dropdown float-lg-right">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, @User.Identity.Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div id="main-bottom">
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="success" class="alert alert-success">
                    <span class="egret egret-check"></span> @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["WarningMessage"] != null)
            {
                <div id="warning" class="alert alert-danger">
                    <span></span> @TempData["WarningMessage"]
                </div>
            }
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" asp-validation-summary="All"></div>
            }

            @RenderBody()

            @section Scripts {
                SetContentHeights();
                SetObjectsForDelete();
                @RenderSection("Scripts", required: false)
            }
        </div>
    </div>

</div>
