<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" asp-href-include="~/lib/css/reset.css" />

    <environment names="production">
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
        <script asp-src-include="~/lib/jquery-validation/dist/jquery.*.min.js"></script>
        <script asp-src-include="~/lib/jquery-validation-unobtrusive/dist/*.min.js"></script>
    </environment>
    <environment names="development">
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script asp-src-include="~/lib/jquery/dist/jquery.js"></script>
        <script asp-src-include="~/lib/jquery-validation/dist/jquery.*.js"></script>
        <script asp-src-include="~/lib/jquery-validation-unobtrusive/dist/*.js"></script>
    </environment>

    <link rel="stylesheet" asp-href-include="~/css/toggle-switch.css" />
    <link rel="stylesheet" asp-href-include="~/css/*.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script asp-src-include="~/scripts/*.js"></script>

    <title>@ViewData["WindowTitle"]</title>
</head>
<body>
    <div id="titleband">Egret</div>
    <div id="container">
        <nav class="leftnav">
            <ul>
                <li class="icon"><a href="javascript:void(0);" onclick="myFunction()"><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a asp-area="Inventory" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-barcode"></span>Inventory</a></li>
                <li><a asp-area="" asp-controller="" asp-action="Projects"><span class="glyphicon glyphicon-folder-open"></span>Projects</a></li>
                <li><a asp-area="" asp-controller="Suppliers" asp-action="Index"><span class="glyphicon glyphicon-user"></span>Suppliers</a></li>
                <li><a asp-area="" asp-controller="" asp-action="Reports"><span class="glyphicon glyphicon-signal"></span>Reports</a></li>
                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-cog"></span>Admin</a></li>
            </ul>
        </nav><div id="main">
            <div id="main-top">

                <div class="col-md-6">@ViewData["PageTitle"]</div>
                <div class="col-md-3 col-md-offset-3">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <div style="font-size: 14pt; display: inline-block; vertical-align: middle;">@User.Identity.Name</div>
                        <a class="btn btn-sm btn-default" asp-action="Logout" asp-area="" asp-controller="Account">Log Out</a>
                        <a class="btn btn-sm btn-default" asp-action="ChangePassword" asp-area="" asp-controller="Account">Change Password</a>
                    }
                </div>

            </div>
            <div id="main-bottom">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div id="success" class="alert alert-success">
                        <span class="glyphicon glyphicon-check"></span> @TempData["SuccessMessage"]
                    </div>
                }
                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" asp-validation-summary="All"></div>
                }

                @RenderBody()
            </div>
        </div>

    </div>
    <script>
        function myFunction() {
            var x = document.getElementsByTagName("nav")[0];
            if (x.className === "leftnav") {
                x.className += " responsive";
            } else {
                x.className = "leftnav";
            }
        }
    </script>

</body>
</html>

