@model List<ConsumptionEvent>

<div class="related-objects">
    <div class="related-objects-header">
        @ViewData["Title"]
        <a asp-route-inventoryid="" asp-controller="@ViewData["Controller"]" asp-action="Create">
            <span title="@ViewData["HoverText"]" style="float: right; top: -1px;" class="glyphicon glyphicon-plus" />
        </a>
    </div>
    @if (Model.Count == 0)
    {
        <div class="related-object-blank">There are currently no Inventory Items.</div>
    }
    else
    {
        @foreach (ConsumptionEvent e in Model.OrderBy(x => x.DateOfConsumption))
        {
            <a class="related-object-link" target="_blank" asp-controller="@ViewData["Controller"]" asp-action="@ViewData["Action"]" asp-route-id="@e.Id">
                <div class="related-object-div">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @e.DateOfConsumption.Value.ToShortDateString() - Units Consumed: @e.QuantityConsumed
                </div>
            </a>
        }


    }

    @*@foreach (ConsumptionEvent e in Model.ConsumptionEvents.OrderBy(x => x.DateOfConsumption))
        {
            <a class="related-object-link" target="_blank" asp-controller="Consumption" asp-action="Edit" asp-route-id="@e.Id">
                <div class="related-object-div">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    @e.DateOfConsumption.Value.ToShortDateString() - Units Consumed: @e.QuantityConsumed
                </div>
            </a>
        }*@
</div>
