@model ConsumptionEvent

@{
    ViewData["WindowTitle"] = "Consumption Event - Create";
    ViewData["PageTitle"] = "Create Consumption Event";
}

<form asp-action="CreateFromItem">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="form-group">
                        @if (!String.IsNullOrEmpty(Context.Request.Query["sourceid"]))
                        {
                            <input asp-for="InventoryItemCode" type="hidden" name="InventoryItemCode" value="@Context.Request.Query["sourceid"]" />
                        }
                        <label asp-for="@Model.DateOfConsumption" include-languages="Nepali" class="control-label required"></label>
                        <input asp-for="@Model.DateOfConsumption" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.ConsumedBy" include-languages="Nepali" class="control-label required"></label>
                        <input asp-for="@Model.ConsumedBy" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.OrderNumber" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="@Model.OrderNumber" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.PatternNumber" include-languages="Nepali" class="control-label"></label>
                        <input asp-for="@Model.PatternNumber" class="form-control" />
                    </div>

                    <label asp-for="@Model.QuantityConsumed" include-languages="Nepali" class="control-label required"></label>
                    <div class="form-group form-inline">
                        <input asp-for="@Model.QuantityConsumed" class="form-control" />
                        <select asp-for="@Model.Unit" include-languages="Nepali" style="width: 25%;" class="form-control" readonly asp-items="ViewBag.Unit">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Comments" include-languages="Nepali" class="control-label"></label>
                        <textarea asp-for="Comments" class="form-control"></textarea>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <br />
                <input type="submit" value="Save and Return to Inventory" asp-route-sourceid ="@Context.Request.Query["sourceid"]" class="btn btn-primary" />
                <a asp-controller="Items" asp-action="Edit" asp-route-id="@Context.Request.Query["sourceid"]" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>

</form>

