@model ConsumptionEventSearchResultsModel

@{
    Layout = "_ResultsTemplate";
    ViewData["WindowTitle"] = "Consumption Events - Search Results";
    ViewData["PageTitle"] = "Consumption Events Search Results";
}

<p class="index-page-link">
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("_PagingWidget", (PagingInfo)Model)

<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Events[0].InventoryItemCode)</th>
            <th>@Html.DisplayNameFor(model => model.Events[0].DateAdded)</th>
            <th>@Html.DisplayNameFor(model => model.Events[0].ConsumedBy)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() == 0)
        {
            <tr><td colspan="3" class="text-center">There are no Consumption Events matching your search criteria.</td></tr>
        }
        else
        {
            var isEditOrDetails = User.IsInRole("ConsumptionEvent_Edit") ? "Edit" : "Details";
            foreach (var consumptionEvent in Model.Events)
            {
                <tr class="clickable-row" onclick="location.href = '@(Url.Action(isEditOrDetails, new { id = consumptionEvent.Id }))'; location.target='_blank'">
                    <td>
                        <a class="test" asp-action="@isEditOrDetails" asp-route-id="@consumptionEvent.Id">
                            @Html.DisplayFor(modelItem => consumptionEvent.InventoryItemCode)
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => consumptionEvent.DateAdded)</td>
                    <td>@Html.DisplayFor(modelItem => consumptionEvent.ConsumedBy)</td>
                </tr>
            }
        }
    </tbody>
</table>

@await Html.PartialAsync("_PagingWidget", (PagingInfo)Model)

<div>
    <a asp-controller="ConsumptionEvents" asp-action="Search">Back to Search</a>
</div>
